
        <div class="row">
            <div class="col-md-12">
            <table class="table table-striped">
                    <tr>
  <th><img class="col-md-offset-5 col-md-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Seal_of_the_President_of_the_United_States.svg/1920px-Seal_of_the_President_of_the_United_States.svg.png" width= "200">
  </th>
  </div>
  <div>
  </div>
  </tr>

<div class="container">
    <div class="row">
        <div class="col-md-offset-0 col-md-6"> <h2> Trump's Latest Tweet </h2>
        <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/potus" data-tweet-limit="1">Tweets by Trump</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>


        <div class="col-md-offset-0 col-md-6">  <h2> Obama's Tweet (8 years ago) </h2>
        <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/relive44" data-tweet-limit="1">Tweets by Obama</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>


        <div class="row">
          <div class="col-md-12">
          <table class="table table-striped">
                  <tr>

            <ul class="media-list">
                  <% @tweet.comments.each do |comm| %>
                  <li class="media">
                    <div class="media-body">
                      <h6 class="media-heading">

                          <a href="/users/<%= comm.user_id %>"><%= comm.user.username %></a>
                          <small>
                            <%= time_ago_in_words(comm.updated_at) %> ago
                          </small>
                        </h6>
                        <%= comm.body %>
                      </div>
                      <% end %>
                  </li>

            <li class="media">
              <div class="media-body">
                <!-- <form action="/create_comment" method="post"> -->
                <form action="/quick_create" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <input type="hidden" name="tweet_id" value="<%= @tweet.id %>">

                  <input type="hidden" name="user_id" value="<%=@tweet.comments%>">

                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="body" class="sr-only">
                      Body
                    </label>

                    <div class="input-group">
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fa fa-commenting-o"></i>
                        </button>
                      </span>
                    </div>

                        </div>
                                      </div>
                                    </div>
                                    </div>
                                  </form>
                                </div>
                              </li>
                            </ul>
                          </div>
          </div>

      </tr>
    </table>
  </div>
</div>
