<div class="page-header">
  <h3>Tweet #<%= @tweet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tweet comments</dt>
      <dd><%= @tweet.tweet_comments %></dd>

      <dt>Tweet likes</dt>
      <dd><%= @tweet.tweet_likes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tweets" class="btn btn-primary">
        Back
      </a>
      <a href="/tweets/<%= @tweet.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tweet/<%= @tweet.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
